<div class="scrollable-table">
    <div class="table-responsive">
        <table id="findBookTable" class="table table-hover table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Тираж</th>
                    <th>Дата издания</th>
                    <th>Себестоимость (руб.)</th>
                    <th>Авторский гонорар (руб.)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
