{% extends "orders_manager/base.html" %}

{% block style %}
    .search_button {
        align-self: flex-end;
        padding-bottom: 17px;
        margin-left: 20px;
    }
{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 50px; text-align: center;">Заказы</h1>

    <form action="/ordersManager/orders" method="get" id="search-orders-form">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-sm-5">
                <div class="input-group form-element">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя заказчика</span>
                    </div>
                    <input type="text" class="form-control" name="customer_name" value="{{ params[0] }}">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group form-element">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Дата поступления</span>
                    </div>
                    <input type="date" class="form-control" name="receipt_date" value="{{ params[1] }}">
                </div>
            </div>
            <div class="search_button" style="width: 50px;">
                <input type="submit" class="btn btn-outline-secondary" id="search" value="Поиск">
            </div>
        </div>
    </form>

    <div class="scrollable-table">
        <div class="table-responsive">
            <table id="findOrderTable" class="table table-hover table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Имя заказчика</th>
                        <th>Адрес</th>
                        <th>Дата поступления</th>
                        <th>Дата выполнения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                        <tr data-href="/ordersManager/order/{{ row[0] }}">
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block script %}
    $('#search-orders-form').submit(function () {
    $(this)
        .find('input[name]')
        .filter(function () {
            return !this.value;
        })
        .prop('name', '');
    });

    $('#findOrderTable').DataTable({
        scrollY: 500,
        scrollCollapse: true,
        paging: false,
        searching: false,
        ordering: false,
        info: false
    });
{% endblock %}