{% extends "editor/base.html" %}

{% block style %}
    .form-element {
        margin-bottom: 10px;
    }

    .add-btn {
        margin-top: 15px;
    }
{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 50px; text-align: center;">Редактировать автора</h1>

    <div style="width: 70%; text-align: center; display: inline-block;">
        <form id="editAuthorForm" action="/editor/author/{{ author[0] }}" method="post">
            <input id="isDelete" type="hidden" name="isDelete" value="false">
            <div class="input-group form-element">
                <div class="input-group-prepend">
                    <span class="input-group-text">ФИО</span>
                </div>
                <input type="text" class="form-control" name="author_full_name" value="{{ author[1] }}">
            </div>
            <div class="input-group form-element">
                <div class="input-group-prepend">
                    <span class="input-group-text">ИНН</span>
                </div>
                <input type="number" class="form-control" name="author_itn" value="{{ author[2] }}">
            </div>
            <div class="input-group form-element">
                <div class="input-group-prepend">
                    <span class="input-group-text">Серия/номер паспорта</span>
                </div>
                <input type="number" class="form-control" name="author_passport" value="{{ author[3] }}">
            </div>
            <div class="input-group form-element">
                <div class="input-group-prepend">
                    <span class="input-group-text">Адрес</span>
                </div>
                <input type="text" class="form-control" name="author_address" value="{{ author[4] }}">
            </div>
            <div class="input-group form-element">
                <div class="input-group-prepend">
                    <span class="input-group-text">Номер телефона</span>
                </div>
                <input type="number" class="form-control" name="author_phone_number" value="{{ author[5] }}">
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-secondary add-btn" type="submit">Редактировать</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-danger add-btn" onclick="deleteAuthor()" type="submit">Удалить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    function deleteAuthor() {
        document.getElementById("isDelete").value = "true";
    }
{% endblock %}